<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAX5G6C-tF9ysTM9Bkd--J5XCaeytfDYfA</string>
	<key>GCM_SENDER_ID</key>
	<string>753506519474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khelo</string>
	<key>PROJECT_ID</key>
	<string>khelo-9b4b8</string>
	<key>STORAGE_BUCKET</key>
	<string>khelo-9b4b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753506519474:ios:52c0aa7b2242a6921e7cab</string>
</dict>
</plist>