<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92999931839-ce0lph9volhmsmdr4iuh9u5vt7ic060a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92999931839-ce0lph9volhmsmdr4iuh9u5vt7ic060a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>92999931839-8ia6o7l4pahhjjtdgnp1aoenp7583haf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkdjFi8wkE4vf69Wqa45juwLxPEREIOD0</string>
	<key>GCM_SENDER_ID</key>
	<string>92999931839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khelo</string>
	<key>PROJECT_ID</key>
	<string>khelo-dev-8040e</string>
	<key>STORAGE_BUCKET</key>
	<string>khelo-dev-8040e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92999931839:ios:06a5606f88805af9ac330a</string>
	<key>DATABASE_URL</key>
	<string>https://khelo-dev-8040e-default-rtdb.firebaseio.com</string>
</dict>
</plist>