<Directory ".well-known">
    Require all granted
</Directory>

RewriteEngine On

# Redirect requests from /well-known/ to .well-known/
RewriteRule ^well-known/(.*)$ .well-known/$1 [L]

# Serve files from .well-known/ when requested directly
RewriteCond %{REQUEST_URI} ^/.well-known/
RewriteRule ^.well-known/(.*)$ .well-known/$1 [L]
